<html>
<head>
  <title>Vue.js Pet Depot</title>
  <script src="https://unpkg.com/vue"></script>
  <link rel="stylesheet" type="text/css" href="assets/css/app.css"/>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>
<body>
<div id="app">
  <header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container">
        <a class="navbar-brand" href="#">{{ siteName }}</a>
        <div class="my-0">
          <button
                  type="button"
                  class="btn btn-default btn-lg"
                  @click="showCheckout">{{ cartItemCount }}
            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-basket2-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" d="M5.929 1.757a.5.5 0 1 0-.858-.514L2.217 6H.5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h.623l1.844 6.456A.75.75 0 0 0 3.69 15h8.622a.75.75 0 0 0 .722-.544L14.877 8h.623a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1.717L10.93 1.243a.5.5 0 1 0-.858.514L12.617 6H3.383L5.93 1.757zM4 10a1 1 0 0 1 2 0v2a1 1 0 1 1-2 0v-2zm3 0a1 1 0 0 1 2 0v2a1 1 0 1 1-2 0v-2zm4-1a1 1 0 0 0-1 1v2a1 1 0 1 0 2 0v-2a1 1 0 0 0-1-1z"/>
        </svg> Checkout</button></div>
      </div>
    </nav>
    <!-- OR   <h1>{{ siteName }}</h1>-->
  </header>
  <main class="container">

      <div v-if="showProduct">
        <div class="row product">
        <div class="col text-center">
          <figure>
            <img v-bind:src="product.images" alt="">
          </figure>
        </div>
        <div class="col col-expand">
          <h1 v-text="product.title"></h1>
          <p v-html="product.description"></p>
          <p class="price">{{ product.price | formatPrice }}</p>
          <!--        <button
          class="btn btn-info"
          v-on:click="addToCart"
          v-show="canAddToCart">Add to cart</button>-->
          <button
                  class="btn btn-info"
                  v-on:click="addToCart"
                  v-if="canAddToCart">Add to cart</button>
          <button
                  class="btn btn-secondary disabled"
                  v-else>Goods are out</button>
        </div>
        </div>
      </div>
      <div v-else>
       <div class="row">
         <div class="col-md-6">
           <strong>First Name:</strong>
           <input v-model="order.firstName"
           class="form-control"/>
         </div>
         <div class="col-md-6">
           <strong>Last Name:</strong>
           <input v-model="order.lastName"
                  class="form-control"/>
         </div>
         <div class="col-md-6">
           <strong>Address:</strong>
             <input v-model="order.address"
             class="form-control" />
         </div>
         <div class="col-md-6">
           <strong>City:</strong>
             <input v-model="order.city"
             class="form-control" />
         </div>
         <div class="col-md-6">
             <strong>State:</strong>
             <select v-model="order.state"
             class="form-control">
             <option disabled value="">State</option>
             <option v-for="(state, key) in states"
                      v-bind:value="state">{{ key }}</option>
             </select>
         </div>
         <div class="col-md-6">
             <strong>Zip / Postal Code:</strong>
             <input v-model.number="order.zip"
             class="form-control"/>
         </div>
         <div class="col-md-6 my-2">
           <div class="form-group form-check">
             <input
               type="checkbox"
               class="form-check-input"
               value="true"
               id="gift"
               v-bind:true-value="order.sendGift"
               v-bind:false-value="order.dontSendGift"
               v-model="order.gift">
             <label class="form-check-label" for="gift">Ship As Gift?</label>
           </div>
         </div>
         <div class="col-md-6 my-2">
           <div class="form-check form-check-inline">
             <input
               class="form-check-input"
               type="radio"
               id="home"
                v-bind:value="order.home"
                v-model="order.method">
             <label class="form-check-label" for="home">Home</label>
           </div>
           <div class="form-check form-check-inline">
             <input
               class="form-check-input"
               type="radio"
               id="business"
               v-bind:value="order.business"
               v-model="order.method">
             <label class="form-check-label" for="business">Business</label>
           </div>
         </div>
         <div class="col-md-12 my-5">
          <button
            type="submit"
            class="btn btn-success submit"
            v-on:click="submitForm">Place Order</button>
         </div>
         <div class="col-md-12 verify">
           <pre>
          First Name: {{order.firstName}}
           Last Name: {{order.lastName}}
             Address: {{order.address}}
                City: {{order.city}}
                 Zip: {{order.zip}}
               State: {{order.state}}
               Method: {{order.method}}
               Gift: {{order.gift}}
             </pre>
         </div>
       </div>
      </div>
  </main>
</div>

<script type="text/javascript">
    const APP_LOG_LIFECYCLE_EVENTS = false;
    let webstore = new Vue({
        el: '#app',
        data: {
            showProduct: true,
            siteName: 'Vue.js Pet Depot',
            order: {
              firstName: '',
              lastName: '',
                address: '',
                city: '',
                zip: '',
                state: '',
                method: 'Home Address',
                home: 'Home Address',
                business: 'Business Address',
                gift: 'Send As A Gift',
                sendGift: 'Send As A Gift',
                dontSendGift: 'Do Not Send As A Gift'
            },
            states: {
              AL: 'Alabama',
              AR: 'Arizona',
              CA: 'California',
              NV: 'Nevada',
            },
            product: {
                id: 1001,
                title: 'Cat Food, 25lb bag',
                description: 'A 25 pound bag of <em>irresistible</em> ' +
                              ' organic goodness for your cat.',
                price: 2000,
                images: 'assets/images/product-fullsize.png',
                availableInventory: 5
            },
            cart: []
        },
        filters: {
            formatPrice: function(price) {
                if (!parseInt(price)) { return ""; }
                if (price > 99999) {
                    let priceString = (price / 100).toFixed(2);
                    let priceArray = priceString.split("").reverse();
                    let index = 3;
                    while (priceArray.length > index + 3) {
                        priceArray.splice(index+3, 0, ",");
                        index += 4;
                    }
                    return "$" + priceArray.reverse().join("");
                } else {
                    return "$" + (price / 100).toFixed(2);
                }
            }
        },
        methods: {
            addToCart: function () {
              this.cart.push( this.product.id );
            },
            showCheckout() {
              this.showProduct = this.showProduct ? false : true;
            },
            submitForm() {
                alert('Submitted');
            }
        },
        computed: {

            cartItemCount: function () {
              return this.cart.length || '0';
            },

            canAddToCart: function () {
              return this.product.availableInventory > this.cartItemCount;
            }
        },
        beforeCreate: function() {
            if (APP_LOG_LIFECYCLE_EVENTS) {
                console.log("beforeCreate");
            }
        },
        created: function() {
            if (APP_LOG_LIFECYCLE_EVENTS) {
                console.log("created");
            }
        },
        beforeMount: function() {
            if (APP_LOG_LIFECYCLE_EVENTS) {
                console.log("beforeMount");
            }
        },
        mounted:  function() {
            if (APP_LOG_LIFECYCLE_EVENTS) {
                console.log("mounted");
            }
        },
        beforeUpdate:  function() {
            if (APP_LOG_LIFECYCLE_EVENTS) {
                console.log("beforeUpdate");
            }
        },
        updated:  function() {
            if (APP_LOG_LIFECYCLE_EVENTS) {
                console.log("updated");
            }
        },
        beforeDestroy:  function() {
            if (APP_LOG_LIFECYCLE_EVENTS) {
                console.log("beforeDestroy ");
            }
        },
        destroyed:  function() {
            if (APP_LOG_LIFECYCLE_EVENTS) {
                console.log("destroyed");
            }
        }
    });
</script>
</body>
</html>